* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgba(197, 112, 112, 0.452); */
    background: lightblue;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 30px;
    border-radius: 30px;
}
#form {
    display: flex;
}
#form>input[type='text'] {
    padding: 30px;
    border-radius: .9rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0;
    border: none;
    /* box-shadow: 0px 3px 10px 2px firebrick; */
    color: antiquewhite;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    background-color: firebrick;
    outline: none;
}
#form>input[type='text']::placeholder {
    color: #000;
}
#form>input[type='submit'] {
    background-color: rgb(50, 205, 179);
    padding: 5px;
    border-radius: 0;
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
    border: none;
    /* box-shadow: 0px 3px 10px 2px  rgb(50, 205, 179); */
    /* color: ; */
    cursor: pointer;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    outline: none;
}
.list {
    margin-top: 20px;
    border-radius: .2rem;
    background: lightblue;
    box-shadow: 0px 3px 10px 2px;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.list > button {
    padding: 5px;
    border-radius: .3rem;
    border:none;
    outline: none;
    box-shadow: 0px 3px 10px 2px red;
    background: firebrick;
    cursor: pointer;
}
.list p  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#delete-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 0%;
    right: 0%;
    padding: 60px;
    height: 40%;
    margin: 50px;
    border-radius: 30px;
    background-color: rgb(197, 112, 112);;
    position: absolute;
    z-index: 1;
    margin: 10px;

}
#delete-pop > p {
    margin: 20px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}
#delete-pop > button {
    display: grid;
    padding: 10px;
    width: 10rem;
    border: medium;
    outline: 2px solid #000;
    box-shadow: 1px 1px 12px 9px;
    margin: 3px;
    border-radius: 0.5rem;
    cursor: pointer;
    background: rgba(255, 0, 0, 0.801);
    opacity:  0.7;
    font-weight: 900;
}
#delete-pop > button:nth-child(3) {
    background: rgba(30, 255, 0, 0.801);
}

#edit-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2%;
    left: 0%;
    right: 0%;
    padding: 60px;
    height: 40%;
    border-radius: 30px;
    background-color: rgb(197, 112, 112);;
    position: absolute;
    z-index: 1;
    margin: 10px;
}
#edit-pop > p {
    margin: 20px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}
#edit-form > input[type='text'] {
    padding: 30px;
    border-radius: .9rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0;
    border: none;
    box-shadow: 0px 3px 10px 2px green;
    color: antiquewhite;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    background-color: green;
    outline: none;
}
#edit-form > input[type='text']::placeholder {
    color: #000;
}
#edit-form > input[type='submit'] {
    background: rgba(30, 255, 0, 0.801);
    padding: 30px;
    border-radius: .9rem;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0;
    border: none;
    box-shadow: 0px 3px 10px 2px;
    /* color: red; */
    cursor: pointer;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    outline: none;
}
.close-btn {
    cursor: pointer;
    padding: 10px;
    /* color: #000; */
    font-weight: bolder;
    /* box-shadow: 1px 2px 4px 8px #000; */
    border-radius: 50%;
    height: 10px;
    top: 9%;
    right: 8%;
    position: absolute;
}
.done-btn {
    color: green;
}
.popup-remove {
    display: none;
}
#drop-down {
    /* background-color: rgb(50, 205, 179); */
    padding: 5px;
    border-radius: .9rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border: none;
    /* box-shadow: 0px 3px 10px 2px  rgb(50, 205, 179); */
    cursor: pointer;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    outline: none;
}